#include <windows.h> // include for version info constants

//VERSIONINFO

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "080904E4"
		 {
			 VALUE "CompanyName", "tomeko.net"
			 VALUE "FileVersion", "1.0"
			 VALUE "FileDescription", "EX-03 USB phone plugin"
			 VALUE "InternalName", ""
			 VALUE "LegalCopyright", ""
			 VALUE "LegalTrademarks", ""
			 VALUE "OriginalFilename", ""
			 VALUE "ProductName", ""
			 VALUE "ProductVersion", "1.0"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0809, 1252
	 }
}
